# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Local env/files
.env
.env.*.local
deploy/.env.staging
deploy/.env.live

# Local runtime data
*.db
*.sqlite
*.sqlite3

# OS/editor
.DS_Store
.vscode/
.idea/

# Build/dist
build/
dist/
*.egg-info/
